* {
	margin: 0;
	padding: 0;
  }

  body { 
	width: 80%; /* Set a fixed width for the body element */ 
	margin: 0 auto; /* Center the body element within its parent */ 
	text-align: center; /* Center the body element */ 

  } 
  header{
	background-image: url("/images/cyber-security-2776600_1280.jpg");
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	justify-content: center;
	width: 80%; /* Set a fixed width for the body element */ 
	margin: 0 auto; /* Center the header element within its parent */ 
	text-align: center; /* Center the header element */ 
  }

.color{
	width:200px;
	height:100px;
	border: 2px solid black;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border-radius: 50px;
}

#color1{
	background-color:#D20062;
	
  }

  #color2{
	background-color:#D6589F;
  }

  #color3{
	background-color:#D895DA;
  }

  #color4{
	background-color:#C4E4FF;
  }

  section {
	margin-top: 50px;
	margin-bottom: 50px;
	
  }

 

  #light300 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
  }

  #light300italic{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
  }

  #regular400{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
  }
  #medium500{
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
  }
  
  .fonts p{
	font-size: 20px;
	line-height: 2;
  }

  #thin100{
	font-family:"Roboto Mono", monospace;
	font-weight: 100;

  }
  #thin100italic{
	font-family:"Roboto Mono", monospace;
	font-weight: 100;
	font-style: italic;
  }
  #extralight200{
	font-family:"Roboto Mono", monospace;
	font-weight: 200;
  }

  #mlight300{
	font-family:"Roboto Mono", monospace;
	font-weight: 300;
  }



  h1 {
	font-weight: 700;
font-size: 30px;
font-family: "Roboto Mono", monospace;
  }

  h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 700;
	font-family: "Open Sans", sans-serif;
  }
  
